@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&family=Open+Sans&display=swap');

body,
html {
    height: 100%;
    position: relative;
    background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-mockup img {
    max-width: 350px;
}

.img-mockup {
    text-align: right;
}

.container .col-md-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.para-1 {
    margin-top: 25%;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .25rem;
    padding: 1.5rem;
}

.yt-color {
    color: #eb3223;
}

.btn-danger {
    background-color: #eb3223;
}

.para-2 {
    padding: 1rem 0;
    text-align: center;
}

.para-2 a {
    color: #1f1f1f;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.para-2 a:hover {
    text-decoration: none;
    color: #499bef;
}
